{{ $re := $.File.BaseFileName }}
{{ $backlinks := slice }}
{{ range .Site.AllPages }}
    {{ if and (findRE $re .RawContent) (not (eq $re .File.BaseFileName)) }}
        {{ $backlinks = $backlinks | append . }}
    {{ end }}
{{ end }}


<hr>
{{ if gt (len $backlinks) 0 }}
<div class="bl-section">
    <h4>이 문서와 연결된</h4>
    <div class="backlinks">
        <ul>
            {{ range $backlinks }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
{{ else  }}
{{ end }}
